extends ../homeAdmin.pug

block head
    link(href="/css/all.min.css" rel="stylesheet" type="text/css")
    link(href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet")
    <link href="/css/quill.snow.css" rel="stylesheet">
    <link href="/css/adminStyle.css" rel="stylesheet">

block contentWarpper

    .container

    .row

        .col-xl-12.col-lg-12

            .card.shadow.mb-4

                div(id="ex1" class="modal")

                    <h2>Create post</h2>

                        <form action="/upload" method="post" enctype="multipart/form-data" class="create-image">
                            <input type="file" accept="image/*" name="photo" id="imgInp">
                            <img id="blah" src="#" alt="your image" style="max-width:100px"/>
                            <input type="submit" value="upload">
                        </form>

                        form(class='create-post' method="POST" enctype="multipart/form-data")
                            <input name="body" type="hidden">

                            div

                            div

                                label Tittle

                                input(type='text' name='title')

                            div

                                label Author

                                input(type='text' name='author')

                            div

                                label Time

                                input(type='text' name='time')

                            div

                                label Category
                                each categories in category
                                    <label class="checkbox-inline"><input type="checkbox" name="category" value="#{categories.name}"/>#{categories.name}</label>
                                //- select(name='category' class="form-control" id="sel2")

                                //-     each categories in category

                                //-         option(value=categories.id) #{categories.name}

                            div

                                p Content body
                                <input name="content" type="hidden">
                                    <div id="editor" style="height:45%;">

                                        <p>Hello World!</p>

                                        <p>Some initial <strong>bold</strong> text</p>

                                        <p><br></p>

                                    </div>
                            div

                            <button class="btn btn-primary" type="submit">Save Profile</button>

                            button(href="#" class="btn btn-danger" rel="modal:close") Close

                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between

                    h6.m-0.font-weight-bold.text-primary Post

                    a(href="#ex1" rel="modal:open" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm") Add Post

                .card-body
                    div
                        p(class='success display-none')
                    .table-responsive

                        table#dataTable.table.table-bordered(width='100%' cellspacing='0')

                            thead

                                tr

                                    th Id

                                    th Title

                                    th Category

                                    th Author

                                    th Time

                                    th Function

                            tfoot

                                th Id

                                th Title

                                th Category

                                th Author

                                th Time

                                th Function

                            tbody

                                each post in posts

                                    tr

                                        td= post._id

                                        td= post.title

                                        td= post.category

                                        td= post.author

                                        td= post.time

                                        td

                                            a(href="/post/"+post._id class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm full-width") View

        script(src="/js/quill.js")
        script(src='/js/loadCMS.js')
        script(src='/js/ajaxCMS.js')